[Unit]
Description=Telegram Userbot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/telegram-bot

EnvironmentFile=/home/ubuntu/telegram-bot/.env

ExecStart=/home/ubuntu/telegram-bot/venv/bin/python bot.py

Restart=always
RestartSec=10

KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
